{% extends "layout.html" %}

{% block Content %}

{% for emp_id,emp_data in emps.items() %}

<div>
    <table>
        <tr>
            <td>
                ID is :
            </td>
            <td>
                {{emp_id}}
            </td>
        </tr>
        <tr>
            <td>
                Name is :
            </td>
            <td>
                {{emp_data.name}}
            </td>
        </tr>
        <tr>
            <td>Age:</td>
            <td>{{ emp_data["age"] }}</td>
        </tr>
        <tr>
            <td>Position:</td>
            <td>{{ emp_data["position"] }}</td>
        </tr>
    </table>
   <br>
</div>

{% endfor %}

{% endblock %}